{% extends "reagents/layout.html" %}
{% load static %}

{% block body %}
<section id="form-section">
    <h2>New Entry</h2>
    <form action="{% url 'add' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-labels">{{ field.label }}:</div>
        <div class="form-group">{{ field }}</div>
        {% endfor %}
        <input id="post-button" class="btn btn-secondary btn-sm" type="submit" value="Post" name="save">
    </form>
</section>

{% if user.is_authenticated %}
<div class="comments">
    {% for reagent in page_obj %}
    <blockquote class="blockquote post-view" id="post-view-{{ post.id }}">
        {{ reagent.reagent_name | linebreaks }}

    </blockquote>

    <figcaption class="blockquote-footer">
        {{ reagent.created }}
        {{ reagent.owner }}

    </figcaption>
    {% endfor %}
</div>

{% if paginator.count > 0 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        {% for page_number in paginator.page_range %}
        {% if page.obj.number == page_number %}

        <li class="page-item active"><a class="page-link" href="">{{ page_number }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endif %}



{% endblock %}