{% extends "reagents/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
            role="tab" aria-controls="home-tab-pane" aria-selected="true">New Reagent</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button"
            role="tab" aria-controls="profile-tab-pane" aria-selected="false">New Cell Line</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="calculator-tab" data-bs-toggle="tab" data-bs-target="#calculator-tab-pane" type="button"
            role="tab" aria-controls="calculator-tab-pane" aria-selected="false">Scientific Calculator</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="protocol-tab" data-bs-toggle="tab" data-bs-target="#protocol-tab-pane" type="button"
            role="tab" aria-controls="protocol-tab-pane" aria-selected="false">Protocols</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <form action="{% url 'add_reagent' %}" method="POST">
            {% csrf_token %}
            {{ reagent_form.as_p }}
            <input id="post-button" class="btn btn-secondary btn-sm" type="submit" value="Save" name="save">
        </form>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <form action="{% url 'add_cell' %}" method="POST">
            {% csrf_token %}
            {{ cell_form.as_p }}
            <input id="post-button" class="btn btn-secondary btn-sm" type="submit" value="Save" name="save">
        </form>
    </div>
    <div class="tab-pane fade" id="calculator-tab-pane" role="tabpanel" aria-labelledby="#calculator-tab-pane" tabindex="0">
        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
            <button id="phusion"  type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip" data-bs-title="Phusion Flash High-Fidelity PCR Master Mix. Catalog number: F548L. Total volume 20µL.">Phusion</button>
            <button id="toughmix" type="button" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip" data-bs-title="repliQa HiFi ToughMix. Catalog number: 95200-100. Total volume 25µL.">ToughMix</button>
            <button id="other" type="button" class="btn btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip" data-bs-title="Any other polymerase. Write PCR components below seperated by comma.">Other</button>
          </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <label class="form-label">Number of Reactions</label>
                <input type="number" class="form-control" id="tentacles" name="tentacles" min="1" max="50" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <label class="form-label">Other Polymerases</label>
                <input type="text" class="form-control" id="form-labels" placeholder="PCR mastermix components seperated by comma.">
            </div>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Reagent</th>
                <th scope="col">Volume (µL)</th>
              </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
        <span id="perRxn"></span>
    </div>

    <div class="tab-pane fade" id="protocol-tab-pane" role="tabpanel" aria-labelledby="#protocol-tab-pane" tabindex="0">
        <div class="jumbotron">
            <h3 class="display-5">Protocols and SOPs.</h3>
            <p class="lead">A list of available protocols.</p>
            <hr class="my-4">
            <h2>All protocols</h2>
            <ul>
                {% for entry in entries %}
                    <li><a href="{% url 'protocol' entry %}">{{ entry }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% else %}
<div class="jumbotron">
    <h1 class="display-4">Accelerate your research with our reagent search engine</h1>
    <p class="lead">Search our database of antibodies, biochemicals, proteins, kits and cell lines & models.</p>
    <hr class="my-4">
    <p>User friendly interface, minimalist design.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Reigster Here</a>
    </p>
</div>
{% endif %}

{% block script %}
<script src="{% static 'reagents/script.js' %}"></script>
{% endblock %}
{% endblock %}