{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results 
{% endblock %}

{% block body %}
    <h2>Results</h2>
    <ul>
        {% for match in close_match %}
            <li><a href="{% url 'encyclopedia:view' match %}">{{ match }}</a></li>
        {% endfor %}
    </ul>
    <div>
        {% if messages %}
            {% for message in messages %}
                <em {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </em>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}