.navbar {
    margin: 20px;
}

.form-group {
    margin: 5px 0 5px 0;
}

button {
    margin: 10px 0 10px 0;
    cursor: pointer;
}

.navbar-brand {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: purple;
}

form {
    padding: 20px;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#reagent-form {
    border-inline-end: 1px solid black;
}

/* Add this to your CSS stylesheet or in a <style> tag in the HTML file */
footer {
    position: fixed; /* or use position: absolute; */
    bottom: 0;
    margin-block-end: 0;
    width: 100%;
    background-color: #f8f9fa; /* Set the background color if needed */
    padding: 10px 0; /* Add padding for styling */
}
