.navbar {
    margin: 20px;
}

.form-group {
    margin: 5px 0 5px 0;
}

button {
    margin: 10px 0 10px 0;
    cursor: pointer;
}

.navbar-brand {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-optical-sizing: auto;
    font-weight: 150;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: purple;
}

form {
    padding: 20px;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#reagent-form {
    border-inline-end: 1px solid black;
}
